<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}
		<div class="markdown">
			<h2>Hi!</h2>
            <p>I am Dhiraj, a Software Engineer at 6sense. I work with the Sales Intelligence Team, where my primary focuses are Scripting and Web Development. In this medium, I will journal my tech experiences and share details regarding the personal projects I am currently working on. I hope they are helpful and worthwhile for you.</p>
            <h4>Happy Reading!</h4>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
